body{
    background-color: #202025;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-y: hidden;
}

div{
    display: flex;
    height: 98.5vh;
    width: 80%;

    border-radius: 10px;
    background-color: #383434;

    align-items: center;
    flex-direction: column;
}

h1{
    color:whitesmoke;
    font-size: 55px;
    font-family: 'Roboto' sans-serif;
}

.imagen-logo {
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
