body{
    background-color: #202025;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    
    max-width: 60%;
}

div{
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 50vh;
    overflow-y: hidden;

    background-color: #383535;

    align-items: center;
    flex-direction: column;
}

h1{
    color:whitesmoke;
    font-size: 55px;
    font-family: 'Roboto' sans-serif;
}

.imagen-logo {
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
