body{
    background-color: #202025;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}

div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* height: 100%; */
    width: 80%;
    overflow-y: hidden;

    background-color: #383434;

    align-items: center;
    flex-direction: column;
}

h1{
    color:whitesmoke;
    font-size: 55px;
    font-family: 'Roboto' sans-serif;
}

.imagen-logo {
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
